.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    background-color: #ffffff;
    border: 0px;
}

.collection{
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 8px;
    width: 300px;
    height: 476px;
    left: 196px;
    top: 103px;
    margin-top: 10px;
    align-items: center;
}
.popcol{
    text-align: center;
    color: orangered;
}
.collection .tripod img{
    width: 300px;
    height: 256px;

}
.tripod-detail{
    white-space: nowrap;
    margin: 0;
}
/* ---------------------------------------------
Ratings Star Style
----------------------------------------------- */
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: tomato;
}
.tripod-rating{
    display: flex;
    align-items: center;
}

/* -----------------------------------------------------
 Media Queries
 ------------------------------------------------------- */

@media only screen and (max-width: 688px) {
.collections{
    background-color: white;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}